.letter-input {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
}

.word-entry-wrap {
  padding: 16px;
  border-radius: 10px;
}

.letter-box {
  padding: 2px;
  max-width: 80px;
  width: 100%;
  
}