p {
  line-height: 5;
}

p .score {
  padding-left: 1px;
}

h3 {
  line-height: 0;
}

span .plus {
  margin-top: 70px;
}

.col-lg-7 {
  margin-top: 70px;
  margin-left: 43px;
}

.button {
  margin-top: 70px;
}
