// Variables

$columns: 15;
$rows: 15;

// Board syles

.board-wrap {
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat($columns, 39px);
  grid-template-rows: repeat($rows, 41px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.board-spaces {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: #444444;
  border: 1px solid #666666;
}

.board-space-text {
  text-align: center;
  font-size: 7px;
  font-weight: bold;
}