.name-input {
  &-group {
    display: grid;
    grid-template-columns: 6rem 13rem 5rem;
    place-items: center;
  }
  &-prepend {
    justify-self: end;
    width: 100%;
    &-text {
      width: 100%;
    }
  }
  &-field {
    width: 100% !important;
    border-bottom-right-radius: $border-radius !important;
    border-top-right-radius: $border-radius !important;
  }
  &-icon.fa-check {
    color: $green-machine;
  }
  //&-button {
  //  width: 50px;
  //}
}
