.bigButton {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  color: #cccccc;
  border-radius: 5px;
  font-size: 60px;
  margin: 10px;
}

.bigInput {
  width: 75px;
  height: 75px;
  color: green;
  text-align: center;
  font-size: 60px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 0px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.wordRow {
  display: flex;
  flex-flow: row nowrap;
}

.boxAndGroup {
  display: flex;
  flex-flow: column nowrap;
}

.smallBtn {
  width: 150px;
}

.radioGroup {
  margin-top: 0px;
  margin-left: 10px;
}

.modifierGroup {
  margin-right: 20px;
}

.wordMod {
  margin: 10px;
}
